.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-container {
  display: flex;
  height: 100%;
}

.content {
  width: 100%;
}

.details-remark {
  padding: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
